<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="74">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    storefront
                </i>
                Fornecedor
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    build
                </i>
                Serviços
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    commute
                </i>
                Transportadoras
            </a>
            <a mat-list-item routerLink="/products">
                <i class="material-icons">
                    view_list
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>