<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="product.descricao" name="descricao">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Status A - Ativo ou I - Inativo" [(ngModel)]="product.status" name="status">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Estoque mínimo" [(ngModel)]="product.estoque_min" name="estoque_min">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Estoque máximo" [(ngModel)]="product.estoque_max" name="estoque_max">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>